{{#gab}}
<div class="single-gab">
  <p>{{message}}</p><br>
  <small>- {{username}}</small><br>
  <span>{{totalLikes}} likes. This was liked by:</span> <br>
{{#likes}}
  <li>{{username}}</li>
{{/likes}}
</div>
{{/gab}}
