<h1>Post a Gab!</h1>
{{#err}}
<form class="" action="/gabs" method="post">
  <label for="message">Message: </label>{{errors.message}}<br>
  <textarea name="message" rows="8" cols="80">{{gabs.message}}</textarea><br>
  <input type="submit" name="" value="Post!">
</form>
{{/err}}
