<h1>Post a Gab!</h1>
{{#err}}Try again.{{/err}}
<form class="" action="/gabs" method="post">
  <label for="message">Message</label>
  <textarea name="message" rows="8" cols="80">{{gabs.message}}</textarea><br>
  <input type="submit" name="" value="Post!">
</form>
